<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wall_e">

  <xacro:include filename="$(find wall_e_description)/urdf/wall_e.gazebo.xacro"/>
  <xacro:include filename="$(find wall_e_description)/urdf/wall_e_ros2_control.xacro"/>

  <link name="base_footprint">
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.02"/>
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0155792528368141 -3.13584449863485E-05 -0.043885278180218"
        rpy="0 0 0" />
      <mass
        value="7.30051365588478" />
      <inertia
        ixx="0.0307878292952919"
        ixy="-7.35451053591693E-06"
        ixz="1.00519054145349E-05"
        iyy="0.0629723510018648"
        iyz="-8.74590698168669E-07"
        izz="0.0877757846541169" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="BR_link">
    <inertial>
      <origin
        xyz="2.9442E-08 0.05681 -1.1142E-07"
        rpy="0 0 0" />
      <mass
        value="0.70354" />
      <inertia
        ixx="0.00045383"
        ixy="2.2319E-09"
        ixz="-2.0047E-08"
        iyy="0.00059175"
        iyz="-2.9703E-09"
        izz="0.00045385" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/BR_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/BR_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BR_joint"
    type="continuous">
    <origin
      xyz="-0.26698 -0.2513 -0.1585"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="BR_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="FR_link">
    <inertial>
      <origin
        xyz="-1.3001E-07 0.05681 -1.2687E-07"
        rpy="0 0 0" />
      <mass
        value="0.70354" />
      <inertia
        ixx="0.00045383"
        ixy="-6.1874E-10"
        ixz="2.0686E-08"
        iyy="0.00059175"
        iyz="-2.702E-09"
        izz="0.00045385" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/FR_link.STL"  />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/FR_link.STL"  />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_joint"
    type="continuous">
    <origin
      xyz="0.28978 -0.2513 -0.1585"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="FR_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="FL_link">
    <inertial>
      <origin
        xyz="1.3043E-07 -0.05681 1.2701E-07"
        rpy="0 0 0" />
      <mass
        value="0.70354" />
      <inertia
        ixx="0.00045383"
        ixy="-6.7038E-10"
        ixz="2E-08"
        iyy="0.00059175"
        iyz="-2.7151E-09"
        izz="0.00045385" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/FL_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/FL_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_joint"
    type="continuous">
    <origin
      xyz="0.28978 0.2515 -0.1585"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="FL_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="BL_link">
    <inertial>
      <origin
        xyz="1.2093E-07 -0.05681 -1.6462E-07"
        rpy="0 0 0" />
      <mass
        value="0.70354" />
      <inertia
        ixx="0.00045383"
        ixy="-8.0131E-10"
        ixz="-2.0772E-08"
        iyy="0.00059175"
        iyz="2.1066E-09"
        izz="0.00045385" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/BL_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/BL_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BL_joint"
    type="continuous">
    <origin
      xyz="-0.26698 0.2515 -0.1585"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="BL_link" />
    <axis
      xyz="0 1 0" />
  </joint>
</robot>