<robot name="wall_e" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Transmission for Front Right Wheel -->
    <transmission name="FR_Transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="FR_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="FR_Motor">
            <mechanicalReduction>1.0</mechanicalReduction>
        </actuator>
    </transmission>

    <!-- Transmission for Back Right Wheel -->
    <transmission name="BR_Transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Br_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="BR_Motor">
            <mechanicalReduction>1.0</mechanicalReduction>
        </actuator>
    </transmission>

    <!-- Transmission for Front Left Wheel -->
    <transmission name="FL_Transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="FL_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="FL_Motor">
            <mechanicalReduction>1.0</mechanicalReduction>
        </actuator>
    </transmission>

    <!-- Transmission for Back Left Wheel -->
    <transmission name="BL_Transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="BL_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="BL_Motor">
            <mechanicalReduction>1.0</mechanicalReduction>
        </actuator>
    </transmission>
    
  <!-- Gazebo configuration for left front wheel -->
  <gazebo reference="FL_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
  </gazebo>

    <!-- Gazebo Friction Parameters for Front Right Wheel -->
    <gazebo reference="FR_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
      </gazebo>

    <!-- Gazebo Friction Parameters for Back Left Wheel -->
    <gazebo reference="BL_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
      </gazebo>

    <!-- Gazebo Friction Parameters for Back Right Wheel -->
    <gazebo reference="BR_link">
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
      </gazebo>

    <!-- Gazebo Plugin for ROS2 Control -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <!-- Correct the path to the YAML file -->
            <parameters>$(find wall_e_controller)/config/wall_e_controllers.yaml</parameters>
        </plugin>
    </gazebo>


<gazebo reference="imu_link">
      <sensor name="imu" type="imu">
          <always_on>true</always_on>
          <update_rate>100</update_rate>
          <imu>
            <angular_velocity>
              <x>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>2e-4</stddev>
                </noise>
              </x>
              <y>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>2e-4</stddev>
                </noise>
              </y>
              <z>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>2e-4</stddev>
                </noise>
              </z>
            </angular_velocity>
            <linear_acceleration>
              <x>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>1.7e-2</stddev>
                </noise>
              </x>
              <y>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>1.7e-2</stddev>
                </noise>
              </y>
              <z>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>1.7e-2</stddev>
                </noise>
              </z>
            </linear_acceleration>
          </imu>
          <plugin name="imu" filename="libgazebo_ros_imu_sensor.so"/>
      </sensor>
</gazebo>
 <gazebo reference="gps_link">

      <sensor name="tb3_gps" type="gps">
        <always_on>true</always_on>
        <update_rate>1</update_rate>
        <pose>0 0 0 0 0 0</pose>
        <gps>
          <position_sensing>
            <horizontal>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.01</stddev>
              </noise>
            </horizontal>
            <vertical>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.01</stddev>
              </noise>
            </vertical>
          </position_sensing>
        </gps>
        <plugin name="my_gps_plugin" filename="libgazebo_ros_gps_sensor.so">
          <ros>
            <remapping>~/out:=/gps/fix</remapping>
          </ros>
        </plugin>
      </sensor>

    </gazebo>


    </robot>