<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wall_e">

  <xacro:include filename="$(find wall_e_description)/urdf/wall_e.gazebo.xacro"/>
  <xacro:include filename="$(find wall_e_description)/urdf/wall_e_ros2_control.xacro"/>

  <link name="base_footprint">
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.02"/>
  </joint>
  
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00809763256593836 -0.000562322358044154 -0.0289427041542462"
        rpy="0 0 0" />
      <mass
        value="0.98435044127488" />
      <inertia
        ixx="0.00719634458823369"
        ixy="-2.65438242709729E-09"
        ixz="3.80350663889404E-08"
        iyy="0.00694500656023865"
        iyz="-1.52985888763549E-09"
        izz="0.0123629441660506" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="BR_link">
    <inertial>
      <origin
        xyz="0 0.02152 0"
        rpy="0 0 0" />
      <mass
        value="0.42795" />
      <inertia
        ixx="0.00040313"
        ixy="4.2213E-22"
        ixz="-2.2648E-36"
        iyy="0.00067844"
        iyz="9.9268E-21"
        izz="0.00040313" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/BR_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/BR_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BR_joint"
    type="continuous">
    <origin
      xyz="-0.082838 -0.1596 -0.1041"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="BR_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="FR_link">
    <inertial>
      <origin
        xyz="2.7756E-17 0.02152 0"
        rpy="0 0 0" />
      <mass
        value="0.42795" />
      <inertia
        ixx="0.00040313"
        ixy="4.5137E-22"
        ixz="-1.0801E-37"
        iyy="0.00067844"
        iyz="9.9268E-21"
        izz="0.00040313" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/FR_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/FR_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_joint"
    type="continuous">
    <origin
      xyz="0.082849 -0.1596 -0.1041"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="FR_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="FL_link">
    <inertial>
      <origin
        xyz="2.7756E-17 -0.02152 0"
        rpy="0 0 0" />
      <mass
        value="0.42795" />
      <inertia
        ixx="0.00040313"
        ixy="2.1117E-21"
        ixz="-2.9719E-20"
        iyy="0.00067844"
        iyz="-7.8622E-21"
        izz="0.00040313" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/FL_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/FL_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_joint"
    type="continuous">
    <origin
      xyz="0.082849 0.1596 -0.1041"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="FL_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="BL_link">
    <inertial>
      <origin
        xyz="0 -0.02152 0"
        rpy="0 0 0" />
      <mass
        value="0.42795" />
      <inertia
        ixx="0.00040313"
        ixy="3.055E-21"
        ixz="-2.4304E-20"
        iyy="0.00067844"
        iyz="-8.2856E-21"
        izz="0.00040313" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/BL_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wall_e_description/meshes/BL_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BL_joint"
    type="continuous">
    <origin
      xyz="-0.082838 0.1596 -0.1041"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="BL_link" />
    <axis
      xyz="0 1 0" />
  </joint>

 <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0.7" rpy="0 0 0"/>
        <axis xyz="0 0 0"/>
    </joint>



 <link name="imu_link">

        <inertial>
            <origin xyz="-0.00552433659106688 0.000168210391520346 0.000514000497342681" rpy="0 0 0" />
            <mass value="0.000528415362211671" />
            <inertia ixx="1.46176048428261E-08" ixy="1.40015117949421E-10" ixz="-1.99633872937403E-12"
                     iyy="8.59662482954888E-09" iyz="7.52375112767959E-12"
                     izz="2.30279421279312E-08" />
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://wall_e_description/meshes/imu_link.STL"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://wall_e_description/meshes/imu_link.STL"/>
            </geometry>
        </collision>

    </link>


    <link name="gps_link"/>

    <!-- Add the gps link so we get a static transform for the GPS -->
    <joint name="gps_joint" type="fixed">
      <parent link="base_link"/>
      <child link="gps_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>


    </robot>